<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Log In</title>
    <link rel="stylesheet" href="/css/logins.css">
    <script src="/js/main.css"></script>

  </head>
  <body>
    <div class="main">
        <nav>
            <ul>
                <li id="signin"><a href="/">Sign In</a></li>
                <li><a href="users/new">Sign Up</a></li>
            </ul>
        </nav>
      <form action="/sessions" method="POST">
        <label for="name">Username:</label>
        <input type="text" name="username" required/>
    </br>
        <label for="color">Password:</label>
        <input type="password" name="password" />
        <br>
        <input type="submit" value="Sign In" class="select">
    </form>
    </div>
</body>
<style>
  #signin {
      text-decoration: underline;
}
</style>
</html>
