<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <meta charset="utf-8">
      <title>New User</title>
      <link rel="stylesheet" href="/css/logins.css">
      <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
  </head>
  <body>
    <h1>Wells Fonzo</h1>
    <div class="main">
        <nav>
            <ul>
                <li><a href="/">Sign In</a></li>
                <li id="signup"><a href="users/new">Sign Up</a></li>
            </ul>
        </nav>
      <form action="/users" method="POST">
        <label for="name">Username:</label>
        <input type="text" name="username" required/>
    </br>
        <label for="password">Password:</label>
        <input type="password" name="password" />
        <br>
        <input type="submit" value="Create Account" class="select">
    </form>
    </div>
  </body>
  <style>
  #signup {
      text-decoration: underline;
  }
  h1 {
      color: #F5C705;
      text-align: center;
  }
  </style>
</html>
