<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>New Captain's Log</title>
        <link rel="stylesheet" type="text/css" href="../styling/main.css">
    </head>
    <body>
        <h1>New Captain's Log</h1>
        <form action="/logs" method="POST">
        Title: <input type="text" name="title" /><br/>
        Entry: <input type="text" name="entry" /><br/>
        Is the ship functioning? <input type="checkbox" name="shipIsBroken" /><br/>
        <input type="submit" name="" value="Create Log" id="submit"/>
        </form>
    </body>
</html>
