<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%=log.title%></title>
        <link rel="stylesheet" type="text/css" href="./styling/main.css">
    </head>
    <body>
        <nav>
              <%- include ('../partials/nav.ejs') %>
        </nav>
        <h1>Log: <%=log.title%></h1>
        <h3>Ship Status: <h3>
            <%  if(log.shipIsBroken === true){ %>
            <h4>Broken</h4>
            <style>
                h4 {
                    color: red;
                }
            </style>
        <% } else { %>
            <h4>Functioning</h4>
            <style>
                h4 {
                    color: green;
                }
            </style>
        <%} %>
        <h3>Entry: </h3>
        <p><%=log.entry%></p>
        <nav>
            <a href="/logs">Back to Captain's Logs</a>
        </nav>
    </body>
</html>
